@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/*font-family: 'Anton', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #46433E;
    color: #FAFAFA;
}

/*Heading and logo image */
header {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    height: 6%;
}

header img {
    border-radius: 50%;
}

header span {
    color: #fafafa;
}

header h1 {
    font-size: 30px;
    color: #FAED26;
    letter-spacing: 4px;
    text-transform: uppercase;
}

header a {
    text-decoration: none;
}

#menu {
    list-style: none;
}

#menu li {
    display: inline-block;
    margin: 20px 80px;
    text-align: center;
}

#menu li a {
    color: #d1cacb;
    font-weight: 500;
    letter-spacing: 2px;
}

#menu li a:hover {
    padding-left: 3px;
    letter-spacing: 3px;
}

.active {
    border-bottom: 1px solid grey;
}

/*home page section*/
#home {
    height: 60vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#home-page {
    height: 600px;
    width: 100%;
    background: url("./images/home\ image1.jpeg")center/cover no-repeat;
    /* animation linked for line 70-76*/
    animation-name: home-page;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/*animation for home page*/
@keyframes home-page {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/*Home cover style */
#home-cover h1 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 4px;
    font-family: 'Anton', sans-serif;
    padding: 20px;
    float: left;
}

#home-cover {
    background-color: rgba(128, 187, 226, 0.6);
    text-transform: uppercase;
    width: 300px;
    height: 200px;
    position: absolute;
    bottom: 70px;
    right: 50px;

}

/*Intro section*/
#intro {
    height: 70vh;
    width: 100%;
    padding: 2%;
    display: inline-flex;
    margin-top: 5%;
}

#intro-para {
    width: 60%;
    float: right;
}

#intro-video {
    width: 35%;
    float: left;
    height: 75%;
}

#intro-para p {
    line-height: 2rem;
    text-align: center;
    padding: 1%;
    color: #d1cacb;
    font-family: Helvetica, sans-serif;
}

#intro-para button {
    padding: 10px 7px;
    margin: 20px auto;
    font-weight: 800;
    color: #3a3232;
    background: #cbc8c7;
    border-radius: 5%;
    border: none;
    letter-spacing: 1px;
    /*animation for button*/
    animation-name: button;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes button {
    from {
        transform: scale(.5);
    }

    to {
        transform: scale(1);
    }
}

#intro-para button:hover {
    background: #9d8d8f;
    color: #faffff;
}

/*benefit section start */
#benefit {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#benefit-bg {
    background-image: url(./images/benefit\ bg2.jpeg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    background-attachment: fixed;
}

#benefit-text {
    position: absolute;
    top: 8%;
    left: 40px;
    color: #dde2e7;
}

#benefit-text h2 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
}

#benefit-text h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

#benefit-text p {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

#left {
    padding-top: 30px;
    width: 50%;
    float: left;
    text-align: justify;
    margin-right: 1rem;
}

#right {
    padding-top: 30px;
    width: 50%;
    float: right;
    margin-left: 1rem;
    text-align: justify;
}

/*blockquote section start*/
#quote {
    height: 320px;
    padding: 2rem;
    margin: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#quote p {
    text-align: center;
    line-height: 2rem;
    letter-spacing: 3px;
    color: #d1cacb;
}

#quote span {
    float: right;
    margin: 2rem 6rem 1rem 0;
}

#quote i {
    font-size: 3rem;
}

/*blockquote section end*/
/*footer section start*/
footer {
    height: 150px;
    width: 100%;
    background: black;
    padding: 20px 40px;
    text-align: center;
    margin-bottom: 0;
}

#social-links li {
    display: inline;
    margin: 0 100px;
    text-align: center;
}

#social-links i {
    font-size: 180%;
    margin: 1%;
    padding: 2%;
    color: #fafafa;
}

/* About oage starts */
/* About intro image section */
#about-image {
    height: 80vh;
    background-image: url(./images/about-header.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
}

#about-h1 {
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    color: #d1cacb;
    font-size: 35px;
}

#about-p {
    font-family: Helvetica, sans-serif;
    color: #d1cacb;
    font-size: 16px;
}

#about-intro {
    height: 50vh;
    margin: 2%;
}

#about-history {
    margin: 2%;
}

.container {
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    margin-top: 20px;
}

.history-image {
    background-image: url(./images/history-image.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}
/* About intro image section end*/
/* Our courses page start*/
#courses{
    margin: 5rem;
    padding: 15px;
    background-color:#2b2c2c;
    border-radius: 30px;
}
.courses{
    margin: 3rem 0;
}
#courses h1{
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-bottom: 2rem;
}
#courses h2{
    margin-bottom: 1rem; 
}
#courses p{
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 24px;
}
#cbt{
    padding: 1rem;
}
#cbt ul li{
    list-style-type: circle;
    line-height: 20px;
}
.review{
    background-color: #4e4f50;
    color: rgb(224, 176, 15);
    padding: 2rem;
    text-shadow: black;
    text-align: center;
}
/* Our courses page start*/
/* Our upcoming-courses page start*/
#upcoming-course {
    background: url(./images/bc-courses.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    height: 40vh;
    margin-bottom: 2rem;
}
.container{
    display: inline-flex;
}
#upcoming-course h2 {
    text-align: center;
    color: #fff;
    padding: 10px;
}
.card {
    width: 33%;
    border: 2px solid #fff;
    padding: 20px;
    margin: 5px 20px;
    height: 150px;
    line-height: 30px;
    color: #fff;
}
/* Our upcoming-courses page end*/
/* Contact page starts*/
#get_in_touch{
    height: 20vh;
    background: url(./images/getintocuh.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Contact page end*/
/*Media query section*/
@media screen and (max-width: 1200px) {
    #intro {
        display: block;
    }

    #intro-para {
        width: 100%;
    }

    #intro-para button {
        margin: 0 auto;
    }

    #intro-video {
        width: 100%;
        height: 80%;
        margin: 0 auto;
    }

    #benefit {
        height: 100%;
        width: 100%;
        margin-top: 20px;
    }

    #benefit-bg {
        width: 100%;
    }

    #benefit-text h2 {
        text-align: inherit;
    }

    #benefit-text {
        width: inherit;
        padding: 0;
        height: 650px;
    }

    #right,
    #left {
        width: 100%;
    }

    footer {
        width: 100%;
        height: 20vh;
        position: fixed;
        bottom: 0;
    }

    #social-links li {
        display: inline;
        margin: 0 10px;
        text-align: center;
    }

    #about-image {
        width: 100%;
        height: 250px;
    }

    #about-intro {
        height: inherit;
        margin-bottom: 22px;
    }

    .container {
        height: 100%;
        display: block;
    }

    .history-image {
        width: 100%;
        height: 280px;
    }
    #courses{
        margin: 20px;
        padding: 15px;
        background-color:#2b2c2c;
        border-radius: 30px;
    }
    #upcoming-course {
        height: 65vh;
        margin-bottom: 20px;
    }
    .container{
        display: flexbox;
        margin-left: 17rem;
    }
    #upcoming-course h2 {
        text-align: center;
        color: #fff;
        padding: 10px;
    }
    .card {
        width: 60%;
        border: 2px solid #fff;
        height: 120px;
        line-height: 30px;
        color: #fff;
        font-weight: 600;
        margin-bottom: 15px;
    }

    /*Media query section end */
    /*Media query section for larger screen */
    @media screen and (max-width: 950px) {
        #menu li {
            display: inline-block;
            margin: 20px 50px;
            text-align: center;
        }

        #home-cover {
            background-color: rgba(128, 187, 226, 0.6);
            text-transform: uppercase;
            width: 50%;
            height: 40%;
            position: absolute;
            bottom: 32%;
        }

        #home-cover h1 {
            padding: 18% 5%;
            line-height: 60px;
            text-align: center;
        }

        #intro {
            height: 60vh;
            display: block;
            margin-top: 1%;
        }

        #intro-para {
            width: 100%;
            text-align: center;
        }

        #intro-para>p {
            font-size: 21px;
        }

        #intro-video {
            width: 100%;
            height: 80%;
            margin-bottom: 5%;
        }

        #courses{
            padding: 15px;
            background-color:#2b2c2c;
            border-radius: 10px;
            width: 100%;
        }
        #upcoming-course {
            height: 60vh;
        }
        .container{
            display: block;
        }
        #upcoming-course h2 {
            text-align: center;
            color: #fff;
            padding: 10px;
        }
        .card {
            width: 100%;
            border: 2px solid #fff;
            height: 120px;
            line-height: 20px;
            color: #fff;
            font-weight: 500;
            margin-bottom: 40px;
        }
    }