@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/*font-family: 'Anton', sans-serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Anton', sans-serif ;
    background: #46433E;
    color: #FAFAFA;
}
/*Heading and logo image */
header{
    width: 100%;
    text-align: center;
    padding-top: 15px;
    height: 8%;
}
header span{
    color: #fafafa;
}
header h1{
    font-size: 30px;
    color: #FAED26;
    letter-spacing: 4px;
    text-transform: uppercase;
}
header a{
    text-decoration: none;
}
#menu{
    list-style: none;
}
#menu li{
    display: inline-block;
    margin: 20px 80px;
    text-align: center;
}
#menu li a{
    color: #9d8d8f;
    font-weight: 500;
    letter-spacing: 2px;
  
}
#menu li a:hover{
    padding-left: 3px;   
    letter-spacing: 3px;
}
.active{
    border-bottom: 1px solid grey;
}
/*home page section*/
#home{
    height: 80vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
#home-page{
    height: 600px;
    width: 100%;
    background: url("./images/home\ image1.jpeg")center/cover no-repeat;
    /* animation linked for line 70-76*/
    animation-name: home-page;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
/*animation for home page*/
@keyframes home-page{
    from{
        transform: scale(1);
    } to{
        transform: scale(1.1);
    }
}
/*Home cover style */
#home-cover h1{
    color: #fff;
    font-weight: 500;
    letter-spacing: 4px;
    font-family:'Anton', sans-serif;
    padding: 20px;
    float: left;
}
#home-cover{
    background-color: rgba(128, 187, 226, 0.6);
    text-transform: uppercase;
    width: 300px;
    height: 200px;
    position: absolute;
    bottom: 70px;
    right: 50px;
    
}
/*Intro section*/
#intro {
    height: 80vh;
    width: 100%;
    padding: 2%;
    display: inline-flex;
}

#intro-para {
width: 60%;
float: right;
}
#intro-video {
width: 35%;
float: left;
height: 75%;
width: 35%;
}
#intro-para p {
line-height: 2rem;
text-align: center;
padding: 1%;
color: #9d8d8f;
font-family: Helvetica, sans-serif;
}

#intro-para button {
padding: 10px 7px;
margin-top: 1rem;
margin: 0 auto;
font-weight: 800;
color: #fff;
background: #9b786f;
border-radius: 5%;
border: none;
letter-spacing: 1px;
/*animation for button*/
animation-name: button;
animation-duration: 3s;
animation-fill-mode: forwards;
}

@keyframes button {
from {
    transform: scale(.5);
}

to {
    transform: scale(1);
}
}
#intro-para button:hover {
background: #9d8d8f;
color: #faffff;
}
/*benefit section start */
#benefit{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
#benefit-bg{
    background-image: url(./images/benefit\ bg2.jpeg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    background-attachment: fixed;
}
#benefit-text{
    position: absolute;
    top: 8%;
    left: 40px;
    color: #dde2e7;
}
#benefit-text h2{
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
}
#benefit-text h3{
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}
#benefit-text p{
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

#left{
    padding-top: 30px;
    width: 50%;
    float: left;
    text-align: justify;
    margin-right: 1rem;
}
#right{
    padding-top: 30px;
    width: 50%;
    float: right;
    margin-left: 1rem;
    text-align: justify;
}
/*blockquote section start*/
#quote{
   height: 320px;
    padding: 2rem;
    margin: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #9b786f;
}
#quote p{
    text-align: center;
    line-height: 2rem;
    letter-spacing: 3px;      
}
#quote span{
    float: right;
    margin: 2rem 6rem 1rem 0;
}
#quote i{
    font-size: 3rem;
}
/*blockquote section end*/
/*footer section start*/
footer{
    height: 150px;
    width: 100%;
    background: black;
    padding: 20px 40px;
    text-align: center;
    margin-bottom: 0;
}
#social-links li{
    display: inline;
    margin: 0 100px; 
    text-align: center;
}
#social-links i{
    font-size: 180%;
    margin: 1%;
    padding: 2%;
    color: #fafafa;
}
/* About oage starts */
/* About intro image section */
#about-image{
    height: 80vh;
    background-image: url(./images/about-header.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
}
#about-h1{
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    color: #9d8d8f;
    font-size: 35px;
}
#about-p{
    font-family: Helvetica, sans-serif;
    color: #9d8d8f;
    font-size: 16px;
}
#about-intro{
    height: 50vh;
    margin: 2%;
}
#about-history{
    margin: 2%;
}
.container{
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    margin-top: 20px;
}
.history-image{
    background-image: url(./images/history-image.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    margin-bottom: 30px;
}

/*Media query section*/
@media screen and (max-width: 1200px){
    #intro{
        display: block;
    }
    #intro-para{
        width: 100%;
    }
    #intro-para button{
        margin: 0 auto;
    }
    #intro-video{
        width: 100%;
        height: 80%;
        margin: 0 auto;
    }
    #benefit{
        height: 100%;
        width: 100%;
        margin-top: 20px;
    }
    #benefit-bg{
        width: 100%;
    }
    #benefit-text h2{
        text-align: inherit;
    }
    #benefit-text{
        width: inherit;
        padding: 0;
        height: 650px;
    }

    #right, #left{
        width: 100%;
    }
    footer{
        width: 100%;
        height: 20vh;
        position: fixed;
        bottom: 0;
    }
    #social-links li{
        display: inline;
        margin: 0 10px; 
        text-align: center;
    }
    #about-image{
        width: 100%;
        height: 250px;
    }
    #about-intro{
        height: inherit;
        margin-bottom: 22px;
    }
    .container{
       height: 100%;
       display: block;
    }
    .history-image{
        width: 100%;
        height: 280px;
    }
/*Media query section end */
/*Media query section for larger screen */
@media screen and (max-width: 950px){
    #menu li{
        display: inline-block;
        margin: 20px 50px;
        text-align: center;
    }
    #home-cover {
        background-color: rgba(128, 187, 226, 0.6);
        text-transform: uppercase;
        width: 50%;
        height: 40%;
        position: absolute;
        bottom: 32%;
    }
    #home-cover h1{
        padding: 18% 5%;
        line-height: 60px;
        text-align: center;
    }
    #intro{
        height: 60vh;
        display: block;
        margin-top: -20%;
    }
    #intro-para {
        width: 100%;
        text-align: center;
    }
    #intro-para > p{
        font-size: 21px;
    }
    #intro-video {
        width: 100%;
        height: 80%;
        margin-bottom: 5%;  
    }
}

